
<h1> Header title</h1>

<% if (username){ %>
  <label for="username"><%= username %></label>
  <form method="POST" action="/logout"><button type="submit">Logout</button></form>
<% } else { %>

  <form method="POST" action="/login" name="username">
    <input type="text" name="username" placeholder="username">
    <button type="submit">submit</button>

  </form>

<% } %>

